<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:lavender;">
<div style="text-align:center;">
<h1>Happy birthday <%= @name %>!</h1>
<br>
<br>
<img src="/images/bday.gif">
</div>

</body>
