<body style="background-color:lavender;">
<div style="text-align:center;">
<h1>Greetings human</h1>
<br>
<img src="/images/cat.jpg" width="500" height="300">
<br>
<h2>What's your name?</h2>
<form action="/info" method="post">
<input type="text" name="name">

</form>

<h2>When's your birthday?</h2>
<form action="/info" method="post">
  <input type="text" name="day" size="3">
<select id = "Month" name="Month">
  <option value = "blank">month</option>
  <option value = "january">January</option>
  <option value = "february">February</option>
  <option value = "march">March</option>
  <option value = "april">April</option>
  <option value = "may">May</option>
  <option value = "june">June</option>
  <option value = "july">July</option>
  <option value = "august">August</option>
  <option value = "september">September</option>
  <option value = "october">October</option>
  <option value = "november">November</option>
  <option value = "december">December</option>
</select>
<input type="text" name="year" size="10">
<br>
<br>
<input type="submit" value="Submit">
</form>
</div>

</body>
