<body style="background-color:lavender;">
<div style="text-align:center;">

<br>
<h1>Sorry it's not your birthday today...</h1>
<br>
<img src="/images/sad.jpg" width="400" height="500">
</div>

</body>
